option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: gmart_project.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
      /static: gmart_app/static

Resources:
   AWSEBAutoScalingGroup:
     Type: "AWS::AutoScaling::AutoScalingGroup"
     Properties:
       HealthCheckType: "ELB"
       HealthCheckGracePeriod: "600"