{% extends "gmart_app/base.html" %}
{% block content %}
{% load humanize %}

{% if object_list.count > 0 %}
<div>
    <table>
        <!-- Items currently in cart -->
        <tr>
            <td>
                <h4>Items in Cart</h4>
            </td>
        </tr>
        <tr>
            <td>
                <table class="table">
                <!-- Loop through each item in the cart and display the product image, quantity and details. -->
                {% for prod in object_list %}
                    <tr>
                        <td height="100">
                            <img height="100" src="{{ prod.OrderItem_Product.Product_Image_Primary.url }}" alt="{{ prod.OrderItem_Product.Product_Name }}">
                        </td>
                        <td>
                            <div>
                                <h4>{{ prod.OrderItem_Product.Product_Name }}</h4>
                            </div>
                            <!-- Display Quantity X Price = Total -->
                            <div>
                                <h5>{{ prod.OrderItem_Quantity }} @ ${{ prod.OrderItem_Product.Product_Price|intcomma }}ea 
                                    = ${{ prod.OrderItem_Total|intcomma }}
                                    
                                </h5>
                            </div>
                            <!-- Provide an option to remove or add items to the cart -->
                            <div>
                                <a class="btn btn-primary" href="{% url 'gmart-product-detail' prod.OrderItem_Product.id %}">Add More</a>
                                <a class="btn btn-primary" href="{% url 'remove-from-cart' prod.id prod.OrderItem_Order_id %}">Remove All</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </td>
        </tr>
        <!-- Order Summary, including list of products, quantities, prices and totals -->
        <tr>
            <td>
                <br><br><h4>Order Summary</h4>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            <tr class="bg-secondary text-white">
                                <th class="p-1">
                                    Product
                                </td>
                                <th class="p-1">
                                    Quantity
                                </td>
                                <td class="p-1"> </td>
                                <th class="p-1 text-right">
                                    Total
                                </td>
                            </tr>{% for prod in object_list %}
                            <tr class="bg-secondary text-white">
                                <td class="p-1">
                                    {{ prod.OrderItem_Product.Product_Name }}
                                </td>
                                <td class="p-1">
                                    {{ prod.OrderItem_Quantity }} @ ${{ prod.OrderItem_Product.Product_Price|intcomma }}ea
                                </td>
                                <td class="p-1">=</td>
                                <td class="p-1 text-right">
                                    ${{ prod.OrderItem_Total|intcomma }} 
                                </td>
                            </tr>
                            {% endfor %}
                            
                            <tr>
                                <td class="p-1">
                                </td>
                                <td class="p-1 text-right"> 
                                </td>
                                <td class="p-1">=</td>
                                <td class="p-1 text-right">
                                    ${{ cart_total|intcomma }}
                                </td>
                            </tr>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
        <!-- Option to checkout or continue shopping -->
        <tr>
            <td>
                <div>
                    <a class="btn btn-primary" href="{% url 'gmart-home' %}">Continue Shopping</a>
                    <a class="btn btn-primary" onclick="eCommercePlaceholder()">Proceed to Checkout</a>
                </div>
            </td>
        </tr>
    </table>
</div>
{% endif %}



{% endblock content %}
